<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header -->
  <div class="header">
    <a href="/"><img src="./assets/images/logo.png" alt="Logo"></a>
    <ul class="nav">
      <li class="nav-item"><a href="#">系列鏡框</a></li>
      <li class="nav-item"><a href="#">門市據點</a></li>
      <li class="nav-item"><a href="#">部落格</a></li>
      <li class="nav-item"><a href="qa.html">常見問題</a></li>
    </ul>
  </div>

  <%- contents %>

  <!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="footer-top">
        <div class="footer-top-item">
          <ul class="text-link">
            <li class="text-link-item"><a href="/">首頁</a></li>
            <li class="text-link-item"><a href="#">系列鏡框</a></li>
            <li class="text-link-item"><a href="#">門市據點</a></li>
            <li class="text-link-item"><a href="#">部落格</a></li>
            <li class="text-link-item"><a href="qa.html">常見問題</a></li>
          </ul>
          <ul class="footer-contact">
            <li><img src="./assets/images/icon-phone.svg" alt="Phone Icon"><a href="tel:+886-0800000000">0800-000-000</a></li>
            <li><img src="./assets/images/icon-mail.svg" alt="Email Icon"><a href="mailto:glasses@business.com">glasses@business.com</a></li>
          </ul>
        </div>
        <ul class="icon-link">
          <li class="icon-link-item"><a href="#"><img src="./assets/images/ic_social_fb.svg" alt="Facebook Logo"></a></li>
          <li class="icon-link-item"><a href="#"><img src="./assets/images/ic_social_ig.svg" alt="Instagram Logo"></a></li>
          <li class="icon-link-item"><a href="#"><img src="./assets/images/ic_social_line.svg" alt="Line Logo"></a></li>
        </ul>
      </div>
      <hr>
      <div class="footer-bottom">
        <p>Copyright © 2020 Glasses. All rights reserved.</p>
        <ul class="policy">
          <li class="policy-item"><a href="#">隱私權政策</a></li>
          <li class="policy-item"><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
