.h2-title {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  color: $secondary-color;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .h2-title {
    font-size: 32px;
    line-height: 48px;
    padding-top: 40px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .h2-title {
    font-size: 20px;
    line-height: 29px;
    padding-top: 32px;
    margin-bottom: 20px;
  }
}
/* --- banner --- */
.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center;

  .container {
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .slogan {
      text-align: right;

      h1 {
        font-size: 36px;
        line-height: 54px;
      }

      span {
        font-size: 64px;
        line-height: 96px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    background-image: url("../images/banner-sm.png");

    .container {
      .slogan {
        h1 {
          font-size: 20px;
          line-height: 30px;
        }

        span {
          font-size: 48px;
          line-height: 72px;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .banner {
    background-image: url("../images/banner-sm.png");

    .container {
      height: 394px;

      .slogan {
        h1 {
          font-size: 16px;
          line-height: 22px;
        }

        span {
          font-size: 32px;
          line-height: 45px;
          font-weight: bold;
        }
      }
    }
  }
}
/* --- banner --- */

/* --- introduction --- */
.introduction {
  background-color: #AA06010D;
  padding-bottom: 80px;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      width: 255px;
      text-align: center;

      img {
        height: 100px;
        margin-bottom: 24px;
      }

      h3 {
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        color: $secondary-color;
        margin-bottom: 8px;
      }

      p {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
  .introduction {
    padding-bottom: 16px;

    ul {
      flex-wrap: wrap;

      li {
        width: 255px;
        margin: 0 45px 40px;

        img {
          height: 83px;
          margin-bottom: 24px;
        }
      }
    }
  }
}
/* --- introduction --- */

/* --- classic --- */
.classic {
  padding-bottom: 80px;

  ul {
    display: flex;
    flex-wrap: wrap;

    .classic-item {
      width: 100%;
      display: flex;
      align-items: center;

      div {
        width: 635px;
        height: 255px;
        overflow: hidden;
        margin-right: 32px;

        .product-photo {
          width: 635px;
          transition: transform .2s;
          display: block;
        }

        .product-photo:hover {
          transform: scale(1.2);
        }
      }

      h3 {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
        font-style: italic;
        color: $primary-color;
      }
    }

    .classic-item + .classic-item {
      margin-top: 32px;
    }

    .optical h3::before {
      content: url("../images/icon-diamond.svg");
      margin-right: 8px;
    }

    .functional h3::before {
      content: url("../images/icon-thunder.svg");
      margin-right: 8px;
    }

    .sunglasses {
      flex-direction: row-reverse;
      justify-content: flex-start;

      div {
        margin-right: 0;
        margin-left: 32px;
      }

      h3::before {
        content: url("../images/icon-sun.svg");
        margin-right: 8px;
      }

      h3 {
        text-align: right;
      }
    }
  }
}

@media (max-width: 768px) {
  .classic {
    padding-bottom: 56px;

    ul {
      .classic-item {
        div {
          width: 390px;
          height: auto;
        }

        h3 {
          font-size: 28px;
          line-height: 37px;
        }
      }

    .classic-item + .classic-item {
      margin-top: 8px;
    }

      .sunglasses {
        flex-direction: row;

        div {
          margin-right: 32px;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .classic {
    padding-bottom: 40px;

    ul {
      justify-content: center;

      .classic-item {
        position: relative;
        justify-content: center;

        div {
          margin-right: 0;
        }

        h3 {
          font-size: 28px;
          line-height: 37px;

          position: absolute;
        }
      }

      .classic-item + .classic-item {
        margin-top: 8px;
      }

      .sunglasses {
        flex-direction: row;

        div {
          margin-right: 0;
        }
      }
    }
  }
}
/* --- classic --- */

/* --- design --- */
.design {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;

  .h2-title {
    color: $white;
  }

  ul {
    display: flex;
    align-items: center;

    .design-item {
      width: 540px;
      height: 455px;
      margin: 0 15px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 72px;
        line-height: 108px;
        font-family: Roboto;
        font-weight: bold;
        color: $primary-color;
      }
    }

    .design-item:first-child {
      background-image: url("../images/product-8.png");
    }

    .design-item:last-child {
      background-image: url("../images/product-9.png");
    }
  }
}

@media (max-width: 768px) {
  .design {
    padding-bottom: 40px;

    ul {
      .design-item {
        width: 330px;
        height: 278px;

        h3 {
          font-size: 32px;
          line-height: 43px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .design {
    ul {
      flex-wrap: wrap;

      .design-item {
        width: 100%;
      }

      .design-item + .design-item {
        margin-top: 16px;
      }
    }
  }
}
/* --- design --- */

/* --- recommend --- */
.recommend {
  padding-bottom: 80px;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      width: 255px;
      height: 460px;
      display: flex;
      flex-flow: column;

      .recommend-photo {
        background-size: cover;
        height: 256px;
        background-position: center;
        border-radius: 4px 4px 0 0;
      }

      .user-1 {
        background-image: url("../images/rec-1.png");
      }

      .user-2 {
        background-image: url("../images/rec-2.png");
      }

      .user-3 {
        background-image: url("../images/rec-3.png");
      }

      .user-4 {
        background-image: url("../images/rec-4.png");
      }

      .text-info {
        padding: 16px;
        flex-grow : 1;
        border: 1px solid #DEE2E6;
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 0 0 4px 4px;
        position: relative;

        p {
          margin-bottom: 8px;
        }

        p:first-child {
          font-size: 14px;
          line-height: 21px;
        }

        :nth-child(2) {
          font-size: 16px;
          line-height: 24px;
        }

        .date {
          color: #707070;
          position: absolute;
          bottom: 16px;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .recommend {
    padding-bottom: 24px;

    ul {
      flex-wrap: wrap;

      li {
        width: 47.8%;
        margin-bottom: 32px;
      }
    }
  }
}

@media (max-width: 767px) {
  .recommend {
    padding-bottom: 24px;

    ul {
      flex-wrap: wrap;

      li {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
}
/* --- recommend --- */

/* --- contact-us --- */
.contact-us {
  background-color: #AA06010D;
  padding-bottom: 80px;

  .container {
    width: 730px;

    .h2-title {
      color: $black;
      margin-bottom: 24px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .form-item {
      margin-bottom: 16px;

      input[type="text"],
      input[type="tel"],
      input[type="email"],
      textarea {
        display: block;
        margin-top: 4px;
        width: 100%;
        height: 50px;
        border: 1px solid $black;
        padding-left: 16px;
        font-size: 16px;
        line-height: 24px;
      }

      textarea {
        height: 136px;
        padding-top: 12px;
      }

      input[type="checkbox"] {
        margin-right: 4px;
      }
    }

    .form-btn {
      text-align: center;
      margin-top: 40px;

      button {
        color: $white;
        background-color: $primary-color;
        width: 350px;
        height: 54px;
        font-family: "Noto Sans TC";
      }

      button:hover {
        background-color: $secondary-color;
      }
    }
  }

  label,
  ::placeholder,
  button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .contact-us {
    padding-bottom: 56px;

    .container {
      width: 450px;

      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
      }

      .form-item {
        input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
          height: 36px;
          font-size: 14px;
          line-height: 21px;
          padding-left: 12px;
        }
  
        textarea {
          height: 100px;
        }
      }

      .form-btn {
        button {
          width: 210px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .contact-us {
    padding-bottom: 40px;

    .container {
      width: 345px;

      .form-item {
        width: 325px;

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
          padding-left: 16px;
        }

        .form-btn {
          button {
            width: 165px;
            height: 36px;
          }
        }
      }
    }
  }
}
/* --- contact-us --- */