@import "reset";

@import "variable";
@import "base";

@import "qa";

/* --- header --- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 0 88px;
  height: 108px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 39px;
  }
}

@media (max-width: 767px) {
  .header {
    height: auto;
    flex-direction: column;
    padding: 0;

    img {
      width: 48px;
      height: auto;
      padding: 10px 0;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 20px;
    line-height: 30px;
  }

  .nav-item + .nav-item {
    margin-left: 64px;
  }
}

@media (max-width: 768px) {
  .nav {
    .nav-item + .nav-item {
      margin-left: 40px;
    }
  }
}

@media (max-width: 767px) {
  .nav {
    width: 100%;
    flex-wrap: wrap;

    .nav-item {
      width: 50%;
      text-align: center;

      a {
        display: block;
        padding: 8px 0;

        border: 1px solid $white;
      }
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }
  }
}
/* --- header --- */

/* --- footer --- */
.footer {
  background-color: $primary-color;
  padding: 32px 0 39px;
  color: $white;

  a {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-top-item {
    display: flex;
    flex-direction: column;
  }

  .text-link,
  .icon-link {
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 36px;
  }

  .text-link-item + .text-link-item {
    margin-left: 48px;
  }

  .icon-link-item + .icon-link-item {
    margin-left: 32px;
  }

  .icon-link-item:hover {
    opacity: .6;
  }

  .footer-contact {
    img {
      width: 36px;
      height: auto;
      margin-right: 20px;
    }

    a {
      font-size: 36px;
      line-height: 54px;
      font-family: Roboto;
      margin-bottom: 16px;
    }
  }

  hr {
    border: 1px solid $white;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 16px;
      line-height: 24px;
      font-family: Roboto;
    }

    .policy {
      display: flex;

      .policy-item a {
        margin-left: 48px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .text-link,
    .icon-link {
      height: 24px;
      margin-bottom: 24px;
    }

    .text-link-item + .text-link-item {
      margin-left: 40px;
    }

    .icon-link-item img {
      width: 24px;
      height: 24px;
    }

    .icon-link-item + .icon-link-item {
      margin-left: 24px;
    }

    .footer-contact {
      img {
        width: 18px;
        height: auto;
        margin-right: 10px;
      }

      a {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
      }
    }

    .policy-item a {
      margin-left: 24px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 24px 0;

    .text-link {
      display: none;
    }

    .footer-contact a {
      font-size: 16px;
      line-height: 30px;
    }

    hr {
      margin-bottom: 16px;
    }

    .footer-bottom {
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
      }

      .policy {
        flex-direction: column;
        align-items: flex-start;

        .policy-item {
          margin-bottom: 8px;

          a {
            margin-left: 0;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
  }
}
/* --- footer --- */